@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar{
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.profile-text{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;

}
